body div#fg-eu-cookie-confirmation.fg-cookie-notification-position-bottom {
  background: rgba(249, 250, 250, .95);
  border: 0;
  bottom: 0 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  line-height: 18px;
  max-width: 100%;
  padding: 20px;
  position: fixed;
  text-align: left;
  text-shadow: none !important;
  top: auto;
  z-index: 100000000 !important;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity color 1s linear;
  -o-transition: opacity color 1s linear;
  transition: opacity color 1s linear;
}

@media (min-width:768px) {
  body div#fg-eu-cookie-confirmation.fg-cookie-notification-position-bottom {
    border-radius: 6px;
    bottom: 15px !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 50%;
    max-width: 480px;
    transform: translate3d(-50%, 0, 0);
  }
}

body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner {
  background: 0 0 !important;
  -webkit-font-smoothing: antialiased;
  padding: 0 !important;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity color 1s linear;
  -o-transition: opacity color 1s linear;
  transition: opacity color 1s linear;
}

body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner p {
  font-size: 14.5px !important;
  line-height: 21px !important;
  margin-bottom: 0 !important;
  padding-right: 90px !important
}

@media screen and (max-width:480px) {
  body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner p {
    font-size: 14.5px !important
  }
}

body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner p:first-child,
body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner p:last-of-type {
  display: none
}

body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner a {
  color: #22a1f0 !important;
  font-size: 14px !important
}

body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner a#fg-eu-confirmation-button {
  color: #fff !important;
  font-weight: 500;
  background: #1085d4 !important;
  border: 0 !important;
  border-radius: 4px !important;
  padding: 7px 16px !important;
  margin: 0 !important;
  text-decoration: none;
}

#fg-eu-confirmation-button:hover {
  text-decoration: none !important;
}

body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner div#fg-en-cookie-confirmation-buttons-area {
  display: inline-block;
  margin: 0 !important;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate3d(0, -50%, 0)
}

body div#fg-eu-cookie-confirmation div#fg-eu-cookie-confirmation-inner div#fg-en-cookie-confirmation-buttons-area #fg-eu-confirmation-button {
  margin: 0 !important;
  font-size: 14.5px !important
}